html {
  font-size: 2vw;
  font-family: 'Nunito', sans-serif;

}

body {
  background: yellow;
}

div {
  font-size: 2.5em;
  color: red;
}

h3 {
  font-size: 2em;
}
#location {
  color: blue;
}

img {
  max-width: 400px;
}
